.widget-container
{
    min-height:450px;
    position:relative;
}
.widget-container button
{
    position:absolute;
    right:0px;
    bottom:0px;
}
.widget-heading
{
    padding:1rem;
    position:relative;

}
.widget-changer
{
    position:absolute;
    top:0px;
    right:0px;
}
.widget-changer select
{
    width:100px;
}
.widget-changer button
{
    position:relative;
}
